@charset "utf-8";

/*webfont*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');
html {
	font-size: 16px; /*1rem*/
}
body {
	color: #06104B;
	font-family: 'Roboto', 'Noto+Sans+KR', sans-serif;
}
* {
	box-sizing: border-box; /*꼭 넣어야 width에 padding이 안더해짐*/
}
a {
	color: #06104B;
}
button {
	padding: 0;
}
.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
input[type="search"]:focus {
	outline: none;
}
input::placeholder {
	padding-left: 10px;
	color: #222;
}
button:focus {
	outline: none;
}

/*topmenu*/
.topmenu1 {
	height: 64px;
	background: #3CBFEF;
}
.topmenu1 .top_top {
	display: flex;
	justify-content: space-between;
}
h1 {
	display: inline-block;
	margin-top: 17px;
	width: 46px;
	height: 29px;
	background: url(../images/exexMWL_W.svg) no-repeat left top;
	background-size: 46px 29px;
	font-size: 0;
	vertical-align: top;
}
.top_search {
	display: inline-block;
	margin-top: 16px;
	margin-left: 24px;
}
.top_m1Left form {
	position: relative;	
}
.top_m1Left form input {
	width: 300px;
	height: 32px;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	background: #fff;
	vertical-align: top;
}
.top_m1Left form button {
	position: absolute;
	top: 0px;
	right: 8px;
}
.top_m1Right ul li{
	display: inline-block
}
.top_m1Right {
	margin-top: 8px;
}
.topmenu2 {
	height: 64px;
	background: #F0FAFF;	
}
.topmenu2 .container .top_nav {
	display: flex;
	justify-content: space-between;
}
.top_nav ul li {
	padding-top: 24px;
	display: inline-block;
	padding-right: 50px;
}
.top_nav ul li:last-child {
	padding-right: 0;
}
.top_nav ul li a {
	color: #7AAFC9;
	font-size: 0.875rem;
	font-weight: 500;
}
.top_nav ul li:nth-child(1) a { /*선택하고 있는 부분*/
	font-weight: 900;
	color: #07134A;
}
.top_nav ul li a:hover {
	font-weight: 900;
	color: #07134A;
}
.top_nav ul li a::before {
	display: block;
	font-weight: 900;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	color: #07134A;
}
.top_write {
	margin-top: 14px;
	width: 100px;
	height: 36px;
	border: 1px solid #2680EB;
	border-radius: 4px;
	background: #2680EB;
	text-align: center;
}
.top_write a {
	color: #fff;
	font-size: 0.875rem;
}
.top_write a img {
	padding-top: 7px;
	padding-right: 4px;
}
.top_write a span {
	position: relative;
	bottom: 5px;
}

/*section*/
.read_top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 68.125%;
	padding-bottom: 0;
}
.read_top>p:nth-child(1) {
	padding-top: 48px;
	width: 100%;
	font-size: 0.875rem;
	font-weight: 500;
	color: #43C0FF;
}
.read_top>p:nth-child(2) {
	padding-top: 16px;
	width: 100%;
	font-size: 1.5rem;
	color: #000;
}
.read_top ul {
	padding-top: 10px;
}
.read_top ul li {
	display: inline-block;
}
.read_top ul li:nth-child(1) {
	font-size: 0.875rem;
	color: #56565D;
	letter-spacing: -0.5px;
}
.read_top ul li:nth-child(2) {
	padding-left: 14px;
	font-family: "Roboto";
	font-size: 0.875rem;
	color: #929398;
	letter-spacing: -0.5px;
}
.read_top ul li:nth-child(3) img {
	vertical-align: text-top;
	padding-left: 36px;
}
.read_top ul li:nth-child(3) p {
	display: inline-block;
	font-size: 0.875rem;
	font-family: "Roboto";
	color: #929398;
}
.read_top div {
	position: relative;
	top: 2px;
}

.main_wrap {
	display: flex;
}
.read_wrap {
	width: 68.125%;	
}
.read_main {
	padding: 20px 20px;
	border-top: 1px solid #E7E8E9;
}
.read_main>p {
	padding-bottom: 32px;
	line-height: 1.6;
	color: #000;
}
.read_main ul li {
	display: inline-block;
}
.read_main ul li img {
	vertical-align: text-top;
	padding-right: 2px;
}
.read_main ul li p {
	display: inline-block;
	font-size: 0.875rem;
	color: #929398; 
}
.read_main ul li p span {
	font-family: "Roboto";
	padding-left: 4px;
	padding-right: 30px;
}
.read_main ul li:last-child p span {
	padding-right: 0;
}
h4 {
	border-top: 1px solid #E7E8E9;
	padding-top: 24px;
	padding-bottom: 14px;
	font-weight: 500;
	color: #00020A;
}
.comment_box {	
	width: 100%;
	padding: 20px 20px 10px 20px;
	border: 1px solid #A5A5A5;
}
.comment_box form textarea {
	width: 100%;
	min-height: 60px;
	border: none;
	resize: none;
}
.comment_low {
	display: flex;
	justify-content: space-between;
}
.comment_low div:nth-child(2) {
	color: #414348;
}
.read_list h4 {
	padding-top: 50px;
}
.read_list div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 20px;
	border-top: 1px solid #E7E8E9;
}
.read_list div:last-child {
	border-bottom: 1px solid #E7E8E9;
	margin-bottom: 40px;
}
.read_list div p {
	width: 77%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-size: 0.9375rem;
	color: #414348;
}
.read_list div ul {
	white-space: nowrap;
}
.read_list div ul li {
	display: inline-block;
	font-size: 0.75rem;
	color: #929398;
}
.read_list div ul li:nth-child(1) { /*줄어들때 날짜를 빼도 좋다*/
	width: 110px;
	text-align: center;
	letter-spacing: -0.5px;
	padding-right: 14px;
}
read_list div ul li:nth-child(2) {
	text-align: center;
	font-family: "Roboto";
} 

/*section- pageR*/
.main_right {
	width: 31.875%;
}
.main_best {
	float: right;
	width: 73.52941176470588%;
	height: 386px;
	border: 1px solid #D5D5D5;
	border-radius: 10px;
	background: #D5D5D5;
}
.main_right:after {
	display: block;
	content: "";
	clear: both;
}
.main_best {
	padding: 20px;	
}
.main_best h3 {
	font-size: 1.125rem;
	color: #000;
}
.main_best ul li {
	padding-top: 16px;
	color: #505050;
}
.main_Adver { /*광고 자리*/
	display: none;
}

/*footer*/
footer {
	background: #929398;
	color: #FFF;
	padding-bottom: 40px;
}
.ft_logo {
	float: left;
	margin-top: 30px;
	margin-right: 36px;
	width: 46px;
	height: 29px;
	background: url(../images/exexMWL_W.svg) no-repeat left top;
	background-size: 46px 29px;
	font-size: 0;
}
.ft_mwl {
	float: left;
	margin-top: 34px;
	font-size: 0.8125rem;
}
.ft_mwl div {
	padding-top: 20px;
}
.ft_mwl div span {
	padding-right: 20px;
}
.ft_mwl div span:nth-child(2):before,
.ft_mwl div span:nth-child(3):before {
	content: "|";
	padding-right: 20px;
}
.footer_down {
	float: right;
}
.footer_down li {
	float: left;
	display: inline-block;
}
.footer_down:after {
	content: "";
	display: block;
	clear: both;
}
footer>.container:after {
	content: "";
	display: block;
	clear: both;
}
.footer_down li:nth-child(1) {
	margin-right: 32px;
}
.footer_down li a>img {
	text-align: center;
}
.ft_d {
	position: relative;
	margin-top: 30px;
	width: 189px;
	height: 39px;
	border: 1px solid #fff;
	border-radius: 6px;
	background: #fff;
	color: #06104B;
	z-index: 0;
}
.ft_d img {
	position: absolute;
	top: 8px;
	left: 10px;
}
.ft_d p {
	margin-top: 12px;
	margin-left: 34px;
	font-size: 0.875rem;
	font-weight: 600;
}
.ft_d span {
	margin-left: 9px;
	font-weight: 400;
}

/*fixed_btn*/ 
.btn_top {
	position: fixed;
	right: 40px;
	bottom: 160px;
	opacity: 0;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-o-transition: 0.3s all;
	-ms-transition: 0.3s all;
	transition: 0.3s all;
	z-index: 999;
}
.btn_top button {
	text-align: center;
	width: 56px;
	height: 56px;
	border: 1px solid #D5D5D5;
	border-radius: 50%;
	background: #fff;
	font-weight: 600;
	color: #000E50;
	z-index: 999;
}
.btn_topwrite {
	position: relative;
	top: -3px;
}
.btn_top.visible {
	opacity: 1;
}
.fixed_btn {
	position: fixed;
	right: 40px;
	bottom: 100px;
	width: 56px;
	height: 56px;
	border: 1px solid #2680EB;
	border-radius: 50%;
	background: #2680EB;
	text-align: center;
	z-index: 999;
}
.fixed_btn img {
	padding-top: 14px;
	padding-left: 2px;
	text-align: center;
}


/*!!!!!!!!!반응형!!!!!!!!!!!!!!!!!!*/
/*1024-1440 size*/
@media screen and (min-width: 1024px) and (max-width:1300px) {
	.container {
		padding: 0 20px;
	}
}

@media screen and (max-width:1023px) {
	/*main*/
	.read_top {
		width: 100%;
	}
	.main_wrap {
		display: block;
	}
	.read_list div {
		padding: 10px 0 8px;
	}
	/*section-pageR*/
	.main_right {
		display: none;
	}
	.read_wrap {
		width: 100%;	
	}
	
}

/*769-1023 size*/
@media screen and (min-width: 769px) and (max-width:1023px) {
	.container {
		padding: 0 18px;
	}
	/*topmenu*/
	.topmenu1 {
		height: 56px;
		background: #3CBFEF;
	}
	h1 {
		margin-top: 13px;
	}
	.top_search {
		margin-top: 12px;
		margin-left: 20px;
	}
	.top_m1Right {
		margin-top: 4px;
	}
	.topmenu2 {
		height: 56px;
		background: #F0FAFF;	
	}
	.top_nav ul li {
		padding-top: 20px;
		padding-right: 36px;
	}
	.top_write {
		margin-top: 10px;
	}
	.read_top div {
		padding-top: 32px;
	}
	.read_top>p:nth-child(2) {
		padding-top: 14px;
	}
	/*footer*/
	.footer_down li:nth-child(1) {
		margin-right: 20px;
	}
	.ft_d {
		width: 140px;
	}
	.ft_d img {
		left: 20px;
	}
	.ft_d p {
		margin-top: 12px;
		margin-left: 28px;
		text-align: center;
	}
	.ft_d p span {
		display: none;
	}
}

@media screen and (max-width:768px) {
	.container {
		position: relative;
		padding: 0 16px;
	}
	/*topmenu*/
	.topmenu1 {
		height: 56px;
		background: #3CBFEF;
	}
	h1 {
		margin-top: 13px;
	}
	.top_m1Left form input {
		display: none;
	}
	.top_search {
		margin-top: 12px;
		margin-left: 20px;
	}
	.top_m1Left form {
		position: static;	
	}
	.top_m1Left form button {
		top: 3px;
		right: 170px;
		width: 48px;
		height: 48px;
		background: url(../images/select_btn_search.svg) no-repeat left top;
		background-size: 32px 32px;
		background-position: 50% 50%;
	}
	.top_m1Left form button img {
		opacity: 0;
	}
	.top_m1Right {
		margin-top: 4px;
	}
	.topmenu2 { /*가로 스크롤*/
		height: 56px;
		background: #F0FAFF;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
    -ms-overflow-style: none; /* 스크롤 숨기기 IE and Edge */
    scrollbar-width: none; /* 스크롤 숨기기 Firefox */
	}
	.topmenu2::-webkit-scrollbar {
		display: none; /* 스크롤 숨기기 Chrome, Safari, Opera*/
	}
	.top_nav ul li {
		padding-top: 20px;
		padding-right: 36px;
	}
	.top_nav ul li:last-child a {
		margin-right: 16px;
	}
	.top_write {
		display: none;
	}
	.read_main {
		padding: 20px 16px;
	}
	.read_top>p:nth-child(1) {
		padding-top: 24px;
		font-size: 0.8125rem;
	}
	.read_top>p:nth-child(2) {
		padding-top: 12px;
		font-size: 1.375rem;
		font-weight: 500;
	}
	.read_top ul {
		padding-top: 10px;
	}
	.read_top ul li:nth-child(1),
	.read_top ul li:nth-child(2),
	.read_top ul li:nth-child(3) p,
	.read_main ul li p {
		font-size: 0.75rem;
	}
	.read_top ul li:nth-child(3) img {
		vertical-align: bottom;
		width: 54px;
	}
	.read_top div {
		top:0;
	}
	.read_main>p {
		font-size: 0.9375rem;
	}
	.read_main ul li img {
		width: 18px;
		vertical-align: bottom;
	}
	h4 {
		font-size: 0.9375rem;
	}
	.read_list div p {
		font-size: 0.875rem;
	}
	.comment_low div img {
		width: 18px;
	}
	.comment_low div p {
		position: relative;
		top: 4px;
		font-size: 0.875rem;
	}
	
	/*footer*/
	footer .container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.ft_left_wrap {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.ft_logo {
		float: none;
		display: none;
	}
	.ft_mwl {
		float: none;
		margin-top: 0;
		padding-top: 30px;
		letter-spacing: -0.8px;
		font-size: 0.8125rem;
	}
	.ft_mwl p {
		font-size: 1rem;
	}
	.ft_mwl div {
		padding-top: 16px;
	}
	.ft_mwl div span {
		padding-right: 10px;
	}
	.ft_mwl div span:nth-child(2):before,
	.ft_mwl div span:nth-child(3):before {
		padding-right: 10px;
	}
	.footer_down {
		float: none;
		width: 100%;
		margin-top: 20px;
	}
	.footer_down li {
		float: none;
		display: block;
	}
	.footer_down li:nth-child(1) {
		margin-right: 0;
		padding-bottom: 10px;
	}
	.ft_d {
		position: relative;
		margin-top: 0;
		margin: 0 auto;
		width: 140px;
		height: 44px;
	}
	.ft_d img {
		top: 10px;
		left: 20px;
	}
	.ft_d p {
		margin-top: 14px;
		margin-left: 28px;
		text-align: center;
	}
	.ft_d p span {
		display: none;
	}
	
	/*quick*/
	.btn_top {
		right: 10px;
		bottom: 80px;
	}
	.fixed_btn {
		right: 10px;
		bottom: 20px;
	}
}

@media screen and (max-width:520px) {
	.read_list div ul li:nth-child(1) {
		display: none;
	}
}
